/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;

// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //
$socha-green-box: #16A085;
$green-link:  #16A085;

/* Typography ------------------------------------------ */
